name: Deploy Python Web App to Azure

on:
  push:
    branches:
      - main

permissions:
  id-token: write     
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: verify Azure Credentials
      run: |
        if [ -z "${{ secrets.AZURE_CREDENTIALS }}" ]; then
          echo "Azure credentials are not set. Please set the AZURE_CREDENTIALS secret.";
          exit 1;
        else
          echo "Azure credentials are set.";
        fi

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set Azure Subscription
      run: az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: List Web Apps in Subscription
      run: |
        echo "Listing all Web Apps in resource group practice-rg..."
        az webapp list --resource-group practice-rg --query '[].{name:name, location:location}' -o table



    - name: Deploy application to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: testgithubwebapp  
        package: .
        startup-command: gunicorn --bind 0.0.0.0:$PORT app:app
